<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ora_ah08" connectionString="Data Source=ahansen08/ah08;User Id=agr5;Password=agresso;Self Tuning=false;" />
    <add name="ora_dbs" connectionString="Data Source=dbserver/dbs;User Id=agr5;Password=agresso;Self Tuning=false;" />
    <add name="mss_local" connectionString="Server=(local);Database=agr5;Trusted_Connection=True;" />
    <add name="mss_agrse" connectionString="Data Source=ahansen08;User ID=agrse;Password=agresso;Min Pool Size=2;Max Pool Size=1000;Connect Timeout=600" />
    <add name="mss_ole03" connectionString="Server=ostrande03;User ID=agrse;Password=Agresso1;Min Pool Size=2;Max Pool Size=1000;"/>
  </connectionStrings>
</configuration>