{
  "connectionStrings": [
    {
      "ora_test": "Data Source=<server>/<sid>;User Id=<user>;Password=<pwd>;Self Tuning=false;"
    },
    {
      "mss_test": "Server=(local);Database=<db>;Trusted_Connection=True;"
    },
    {
      "mss_test2": "Data Source=<server>;User ID=<login>;Password=<pwd>;Min Pool Size=2;Max Pool Size=1000;Connect Timeout=600"
    }
  ]
}
